/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #54e6af;
    --green-light: #78f9c8;
    --blue950: #121725;
    --blue900: #2c344b;
    --blue600: #5a668a;
    --blue300: #c2cbe5;
    --white: #fff;
    --red: #fb3e3e;
}

body {
    font-family: "Chivo", Arial, Helvetica, sans-serif;
}

/* Main Styles */

main {
    align-items: center;
    background-color: var(--blue950);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    padding: 2.25rem;
    position: relative;
    width: 100%;
    z-index: 1;
}

@media screen and (min-width: 51.25rem) {
    main {
        align-items: start;
        padding: 4rem;
    }
}

main::before {
    background-image: url(./assets/mobile/image-host.jpg);
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (min-width: 51.25rem) {
    main::before {
        display: none;
    }
}

@media screen and (min-width: 90rem) {
    main {
        padding: 10rem;
    }
}

.img-tablet {
    display: none;
    height: 64rem;
    right: 0;
    position: absolute;
    top: 0;
    transform: translateX(10rem);
    width: auto;
}

@media screen and (min-width: 51.25rem) {
    .img-tablet {
        display: block;
    }
}

.img-desktop {
    display: none;
    position: absolute;
    right: 0;
}

@media screen and (min-width: 90rem) {
    .img-tablet {
        display: none;
    }

    .img-desktop {
        display: block;
    }
}

.img-pattern {
    bottom: 6rem;
    display: none;
    height: 8rem;
    position: absolute;
    right: 0;
    transform: translate(9.5rem, -8rem);
    width: auto;
}

@media screen and (min-width: 51.25rem) {
    .img-pattern {
        display: block;
    }
}
@media screen and (min-width: 90rem) {
    .img-pattern {
        transform: translate(0rem, -3rem);
    }
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 51.25rem) {
    .main-content {
        background-color: var(--blue950);
        padding-top: 8rem;
        padding-right: 4rem;
        width: 85%;
    }
}

@media screen and (min-width: 90rem) {
    .main-content {
        height: auto;
        padding-top: 9rem;
        padding-right: 18rem;
        width: 70%;
    }
}

.main-logo {
    margin-block-end: 3rem;
}

@media screen and (min-width: 51.25rem) {
    .main-logo {
        margin-block-end: 12rem;
    }
}
@media screen and (min-width: 90rem) {
    .main-logo {
        margin-block-end: 4rem;
    }
}

h1 {
    color: var(--green);
    font-weight: 200;
    font-size: clamp(2.5rem, 7vw, 3rem);
    line-height: 110%;
    margin-block-end: 1rem;
    text-align: center;
}

span {
    color: var(--white);
}

p {
    color: var(--blue300);
    font-size: clamp(1.2rem, 7vw, 1.4rem);
    font-weight: 100;
    line-height: 150%;
    margin-block-end: 2.5rem;
    text-align: center;
}

@media screen and (min-width: 51.25rem) {
    h1,
    p {
        text-align: left;
    }
}

.brand-form-container {
    width: 100%;
}

.brand-form-container-desktop {
    display: none;
    width: 100%;
}

.form-desktop {
    background-color: var(--blue900);
    padding: 0 0.4rem;
    width: 100%;
}

@media screen and (min-width: 51.25rem) {
    .brand-form-container {
        display: none;
    }

    .brand-form-container-desktop {
        display: block;
    }

    .form-desktop {
        align-items: center;
        border-radius: 2rem;
        display: flex;
        justify-content: space-between;
    }
}

.brand-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 2.5rem;
    width: 100%;
}

.brand-logo {
    height: auto;
    width: 4rem;
}

@media screen and (min-width: 51.25rem) {
    .brand-logo {
        width: 6rem;
    }
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin-block-end: 0.5rem;
    width: 100%;
}

@media screen and (min-width: 51.25rem) {
    form {
        align-items: flex-start;
    }
}

input,
button {
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: 100%;
}

@media screen and (min-width: 51.25rem) {
    input,
    button {
        padding: 1.4rem;
    }
}

.btn-desktop {
    height: 3rem;
    padding: 0.6rem 2rem;
    width: 20rem;
}

input {
    background-color: var(--blue900);
    border: none;
    color: var(--white);
    outline: none;
    transition: outline 0.2s ease-in-out;
}

.input-invalid {
    outline: 2px solid var(--red);
}

button {
    background-color: var(--green);
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--green-light);
}

.error-msg {
    color: var(--red);
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.error-msg-reveal {
    opacity: 1;
}

.success-message {
    align-items: center;
    background-color: var(--green);
    border-radius: 1rem;
    display: flex;
    left: 50%;
    height: auto;
    justify-content: center;
    opacity: 0;
    padding: 3rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease-in-out;
    width: 90%;
}

.success-message-reveal {
    opacity: 1;
}
